*{
    margin: 0px;
}
ul.navbar-nav.mr-auto {
    display: flex;
    justify-content: center;
    flex: auto;
}
.title-spans{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.background-picture{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
}
.bg-black{
    background-color: black;
}
.bg-blue{
background-color: #0300e5;
}
.bg-footer{
    background-color: #2b2a2a;
}
.green{
    color: #abf20e;
}
.white{
color: white !important; 
}
a.navbar-brand.Bold-logo {
    font-size: xxx-large;
    font-weight: 700;
}

button.btn.btn-outline-light.explore-btn {
    font-size: larger;
    font-weight: 700;
    border-radius: 29px;
    /* border: 23px white; */
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-blue {
    border-bottom: solid rgba(255, 255, 255, 0.829) 1px;
    padding: 25px 0px;
}
.margin-auto, .landing, .chipms-banner, .artsts-sec{
margin: auto;
}
.main-navigation-box.border-bottom-1.border-light, .landing, .chipms-banner , .mai-artists, .artsts-sec {
    width: 85%;
}

ul.landing-title {
    list-style-type: none;
    display: block;
    border-radius: 15px;
    font-size: 7vw;
    font-weight: 700;
    padding: 15px 0px
}
span.NFTs {
    background-color: #abf20e;
    border-radius: 0px 100px 100px 0px;
    padding: 0px 24px;
    color: black;
}
.landing-title > li:nth-child(1){
    background-color: black;
    padding: 0px 25px 0px 15px;
    border-radius: 40px 40px 40px 0px ;
    /* display: inline-flex; */
    
}
.landing-title > li:nth-child(2){
    background-color: black;
    padding: 0px 25px 0px 15px;
    width: fit-content  ;
    border-radius: 0px 100px 100px 0px;
}
.landing-title > li:nth-child(3){
  background-color: black;
    padding: 0px 25px 0px 15px;
    border-radius: 0px 100px 100px 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    /* display: inline-flex; */
}


.sub-title-box {
    background-color: #abf20e;
    display: inline-flex;
    padding: 4%;
    border-radius:  50px 50px;
}
i.fa-solid.fa-chevron-circle-right.fa-xl.fa-beat-fade.my-icon {
    color: black;
    margin: 0px 28px;
}

img.round-img {
    margin-left: 15px;
    width: 100%;
    height: auto;
}
h2.subtitle {
    margin: 0;
    font-size: 2.5vw;
    padding: 15 0px;
    color: black;
}
img.chimps-image {
    width: 100%;
    background-image: linear-gradient(1deg, #030326, #0d0c36);
    border-radius: 53px;
}

.chimps-image-box {
    padding: 6% 0%;
}
.bg-gradient-one{
    background-image: linear-gradient(1deg, #030231, #0300e5);
}
.bg-gardient-two{
    background-image: linear-gradient(1deg, #01010e, #030231);
}
.bg-gradient-three {
    background-image: linear-gradient(1deg, #000000, #01010e);
}
.bg-gradient-four{
    background-image: linear-gradient(180deg,  #000000, #020129)
}
.bg-gradient-five{
    background-image: linear-gradient(180deg, #020129,  #040350);
}
.bg-gradient-six{
    background-image: linear-gradient(180deg, #040350, #0300e5);
}
.artists-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 30px 0px; */
}
.artists-nav-item {
    margin: auto 0px;
}
.arrow-icons {
    font-size: 4vw !important;
}
.mai-artists {
    padding: 20px auto;
  
}
img.artist-image {
    border-radius: 10px;
    width: 221px;
    height: auto;
    max-width: 100%;
}


.artist-image-box , .about-artist{
    text-align: center;
}

.artist-box {
    background-color: #0a0a2a;
    display: inline-block;
    padding: 6%;
    border-radius: 12px;
    /* margin: 0px 0px 0px 10px ; */
    width: 100%;
}
.for-padding {
    padding: 5px 10px;
    display: table-footer-group !important;
}
.slick-prev:before {
    content: '←';
    font-size: 60px;
    color: white;
}
.slick-next:before {
    content: '→';
    font-size: 60px;
    color: #abf20e;
}
.slick-prev {
    position: relative;
    top: -74px;
    left: 318px;
    display: inlin;
    z-index: 199;
}
button.slick-next.slick-arrow {
    position: absolute;
    top: -41px;
    right: 105px;
}
p.artist-name.white {
    margin: 5% auto;
    font-weight: 600;
}

a.artist-ranking.white {
    font-size: medium;
    color: #abf20e !important;
    font-weight: 600;
}

p.sales-count.white {
    margin: 5% 0% 0% 0%;
    font-weight: 600;
    text-transform: capitalize;
}
.artists-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    flex-wrap:wrap;
    padding: 35px;
}

section.art-work-box {
    padding-top: 40px 
}
h2.popular-work-title.white {
    text-align: center;
    font-size: 4.5vw;
    font-weight: 700;
    /* display: flex; */
    font-variant-caps: normal;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
}

p.popular-art-content.white {
    text-align: left;
    font-size: 1.6vw;
    font-weight: 500;
}
.art-work-heading-and-content > div{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
}



/* ------------------------------------------------ */
.mai-artists.margin-auto {
    position: relative;
}

.artists-nav-item.container {
    display: flex !important;
    flex-direction: row !important;
    flex-basis: max-content;
    justify-content: end !important;
}

button.glider-next {
    position: absolute;
}

button.glider-prev {
    position: absolute;
    left: 823px;
    z-index: 999;
}


ul.marketplace-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style-type: none;
    align-items: center;
}

.marketplace-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
}

li.nav-item.dropdown.title-flex {
    color: white;
    border: solid #ffffff87 1px;
    border-radius: 29px;
    margin: 0px 3%
}

li.marketplace-menu-item {
    color: white;
    padding: 0% 3%;
    border: solid 1px #ffffff87;
    border-radius: 24px;
}

button.filter {
    border: 1px solid #ffffff87;
    border-radius: 34px;
    padding: 7px 17px;
    color: white;
    background-color: #ffdead00;
}

.marketplace-filter {
    /* display: flex; */
    padding: 0px;
    /* flex-direction: row; */
}
h1.marketplace-heading {
    text-align: center;
    padding: 3% 0%;
    color: white;
    font-weight: 700;
    font-size: 8vw;
}

a#navbarDropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bg-dark-blue{
    background-color: #0b0b0b;
}
.border-cards{
    padding: 2%;
    border-radius: 25px;
}

img.card-img-top {
    border-radius: 16px;
}
.card.border-cards {
    background-color: #0f0e1d00;
    border: solid 1px #ffffff87;
}
.card-body {
    display: flex;
    padding: 5%;
    border: solid 1px  #ffffff87;
    border-radius: 7px;
    margin-bottom: 5%;
    background-color: #0404265d;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

h5.card-title.white {
    margin: 0px;
}
.card-deck.card-box {
    padding-top: 3%;
}
.chim-img-box {
    display: table-cell;
}

img.chimp-no {
    height: 80vh;
    padding: 5%;
    border-radius: 36px;}


    .papular-chimps {
        padding-top: 4%;
    }
    

    .creator-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    h2.creator-heading {
        color: white;
        font-size: 6.5vw;
        font-weight: 700;
    }
    
    .creator-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* padding: 30px; */
        border-radius: 56px;
        background-color: #6c6b6b;
        border: solid 2px #abf20e;
    }
    
    .number {
        font-size: 4vw;
        font-weight: 700;
        color: black;
    }
    
    .know-more {
        display: flex;
        width: 25vw;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: solid 1px black;
        border-radius: 74px;
        padding: 5px;
        color: white;
        background-color: black;
    }
    
    p.text {
        font-size: 1.5vw;
        font-weight: 700;
        margin: 0px;
    }
    
    img.cirecle-image {
        width: 4vw;
    }
    
    .upload-section > h4 {
        font-size: 3vw;
        font-weight: 700;
    }
    
    .upload-section > p {
        font-size: 1.7vw;
        font-weight: 500;
        text-align: justify;

    }
    

    
    .upload-section {
        background-color: #abf20e;
        padding: 7%;
        border-radius: 51px 0px 0px 0px;
    }

    .instrections > p {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        font-size: 2vw;
        color: black;
        font-weight: 600;
    }

    .instrections{
        padding: 0% 7%;
    }
    img.right-image {
        width: 40vw;
        border-radius: 0px 55px 55px 0px;
    }

@media only screen and (max-width: 1200px) 
{
    .slick-prev {
        position: relative;
        left: 214px;
    
    }
 }
 @media only screen and (max-width: 1064px) 
 {
     
         .slick-slide {
             margin: 0px 6px;
         }
     
  }
 @media only screen and (max-width: 992px) 
{
    .slick-prev {
        position: relative;
        left: 144px;
    
    }
 }


